:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #212529;
  /* Bootstrap dark text */
  background-color: #f4f6fb;

  --corporate-yellow: #f0ad4e;
  --corporate-yellow-hover: #ec971f;
  --corporate-yellow-light: #fcf8e3;
  --corporate-dark: #343a40;
  --corporate-grey: #6c757d;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f6fb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--corporate-dark);
}

a {
  font-weight: 500;
  color: var(--corporate-dark);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: var(--corporate-yellow-hover);
}